.game-main
  .game-main__side
    .game-main__side__header
      .game-main__side__header__top
        .game-main__side__header__top__logo
          .game-main__side__header__top__logo__text
            Game-now
        .game-main__side__header__top__search
          %input.game-main__side__header__top__search__box
      .game-main__side__header__under
        .game-main__side__header__under__tag
          .game-main__side__header__under__tag__box
            pubg
          .game-main__side__header__under__tag__box
            apex
    .game-main__side__footer
      .game-main__side__footer__sign
        .game-main__side__footer__sign__in
          %a.game-main__side__footer__sign__in__text{:href => "users/sign_in"} Log_in
        .game-main__side__footer__sign__up
          %a.game-main__side__footer__sign__up__text{:href => "users/sign_up"} Sign_up