// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


.game-main__side{
  width: 300px;
  background-color: rgb(41, 41, 41);
  display: inline-block;
  &__header{
    height: 500px;
    width: 300px;
    border-bottom: 1px solid #e2e0e0;
    &__top{
      height: 250px;
      &__logo{
        color: antiquewhite;
        text-align: center;
        padding: 50px 0 50px 0;
        &__text{
          color:  rgb(250, 164, 3);
          font-family: 'klee',sans-serif;
          font-size: 30px;
        }
      }
      &__search{
        &__box{
        display:flex;
        margin: auto;
        border-radius: 45px;
        height: 40px;
        width:  250px;
        }
      }
    }
    &__under{
      &__tag{
        padding: 20px;
        &__box{
          margin: 0;
          display: inline-flex;
          -ms-flex-align: center;
          align-items: center;
          background-color: rgb(250, 164, 3);
          padding: 0.8em 0.5em;
          font-size: 0.9rem;
          height: 1em;
          line-height: 1em;
          color: white;
        }
      }
    }
  }
  &__footer{
    padding: 40px 0 60px 0;
    &__sign{
      &__in{
        display:flex;
        margin: 30px auto;
        height: 50px;
        width: 200px;
        background: rgb(255, 255, 255);
        &__text{
          margin: auto;
          font-size: 20px;
          color:  rgb(250, 164, 3);
          font-family: 'klee';
          text-decoration:	none;
        }
      }
      &__up{
        display:flex;
        margin: 30px auto;
        height: 50px;
        width: 200px;
        background: rgb(253, 253, 253);
        &__text{
          margin: auto;
          font-size: 20px;
          color:  rgb(250, 164, 3);
          font-family: 'klee';
          text-decoration:	none;
        }
      }
    }
  }
}

.game-main__center{
}