.group-main__center {
  width: 480px;
  margin: auto;
}
.group-main__center__from__header {
  height: 100px;
  border-bottom: 1px solid #000000;
}
.group-main__center__from__header__text {
  padding: 50px 0 0 40px;
}
